### Bibliotecas

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("../datasets/200610COVID19MEXICO.csv")

In [3]:
data.columns

Index(['FECHA_ACTUALIZACION', 'ID_REGISTRO', 'ORIGEN', 'SECTOR', 'ENTIDAD_UM',
       'SEXO', 'ENTIDAD_NAC', 'ENTIDAD_RES', 'MUNICIPIO_RES', 'TIPO_PACIENTE',
       'FECHA_INGRESO', 'FECHA_SINTOMAS', 'FECHA_DEF', 'INTUBADO', 'NEUMONIA',
       'EDAD', 'NACIONALIDAD', 'EMBARAZO', 'HABLA_LENGUA_INDIG', 'DIABETES',
       'EPOC', 'ASMA', 'INMUSUPR', 'HIPERTENSION', 'OTRA_COM',
       'CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA', 'TABAQUISMO',
       'OTRO_CASO', 'RESULTADO', 'MIGRANTE', 'PAIS_NACIONALIDAD',
       'PAIS_ORIGEN', 'UCI'],
      dtype='object')

In [4]:
data.head(3)

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,RESULTADO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,2020-06-10,0f69b4,2,3,15,2,7,15,106,1,...,2,2,2,2,1,1,99,México,99,97
1,2020-06-10,1c79cc,2,3,15,2,15,15,106,2,...,2,2,2,2,2,1,99,México,99,2
2,2020-06-10,140aab,2,4,9,2,9,9,7,1,...,2,2,2,2,99,1,99,México,99,97

In [5]:
data[data["PAIS_NACIONALIDAD"] == "México"]

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,RESULTADO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,2020-06-10,0f69b4,2,3,15,2,7,15,106,1,...,2,2,2,2,1,1,99,México,99,97
1,2020-06-10,1c79cc,2,3,15,2,15,15,106,2,...,2,2,2,2,2,1,99,México,99,2
2,2020-06-10,140aab,2,4,9,2,9,9,7,1,...,2,2,2,2,99,1,99,México,99,97
3,2020-06-10,051c09,2,4,2,2,2,2,4,1,...,2,2,2,2,99,1,99,México,99,97
4,2020-06-10,1c8c37,2,4,9,2,15,15,58,2,...,2,2,2,2,99,1,99,México,99,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369356,2020-06-10,147944,1,4,25,2,25,25,6,2,...,1,2,2,2,99,3,99,México,99,2
369358,2020-06-10,08009f,1,4,5,2,5,5,4,2,...,2,2,2,1,99,3,99,México,99,2
369359,2020-06-10,077eca,2,12,15,1,9,15,81,1,...,2,2,2,2,1,3,99,México,99,97
369360,2020-06-10,16b2f3,2,12,27,1,20,27,15,1,...,2,1,2,2,1,3,99,México,99,97
369361,2020-06-10,15aafe,1,4,25,2,25,25,11,1,...,2,2,2,2,99,3,99,México,99,97

In [6]:
data["SEXO"].unique()

array([2, 1])

In [7]:
data["SEXO"].value_counts()

2    188276
1    181086
Name: SEXO, dtype: int64

In [8]:
data["SEXO"] = np.where(data["SEXO"] == "1", "Femenino", data["SEXO"])
data["SEXO"] = np.where(data["SEXO"] == "2", "Masculino", data["SEXO"])

/home/carlos/anaconda3/envs/ambienteIA_1/lib/python3.8/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [9]:
data["SEXO"].unique()

array(['Masculino', '1'], dtype=object)

In [10]:
data

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,RESULTADO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,2020-06-10,0f69b4,2,3,15,Masculino,7,15,106,1,...,2,2,2,2,1,1,99,México,99,97
1,2020-06-10,1c79cc,2,3,15,Masculino,15,15,106,2,...,2,2,2,2,2,1,99,México,99,2
2,2020-06-10,140aab,2,4,9,Masculino,9,9,7,1,...,2,2,2,2,99,1,99,México,99,97
3,2020-06-10,051c09,2,4,2,Masculino,2,2,4,1,...,2,2,2,2,99,1,99,México,99,97
4,2020-06-10,1c8c37,2,4,9,Masculino,15,15,58,2,...,2,2,2,2,99,1,99,México,99,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369357,2020-06-10,081dda,2,12,15,Masculino,99,9,14,1,...,2,2,2,2,1,3,2,Bolivia,99,97
369358,2020-06-10,08009f,1,4,5,Masculino,5,5,4,2,...,2,2,2,1,99,3,99,México,99,2
369359,2020-06-10,077eca,2,12,15,1,9,15,81,1,...,2,2,2,2,1,3,99,México,99,97
369360,2020-06-10,16b2f3,2,12,27,1,20,27,15,1,...,2,1,2,2,1,3,99,México,99,97
369361,2020-06-10,15aafe,1,4,25,Masculino,25,25,11,1,...,2,2,2,2,99,3,99,México,99,97

In [35]:
data["RESULTADO"] = np.where(data["RESULTADO"] == "3", "Sospechoso", data["RESULTADO"])
data["RESULTADO"] = np.where(data["RESULTADO"] == "2", "Negativo", data["RESULTADO"])
data["RESULTADO"] = np.where(data["RESULTADO"] == "1", "Positivo", data["RESULTADO"])
data["RESULTADO"] = np.where(data["RESULTADO"] == 3, "Positivo", data["RESULTADO"])

In [36]:
data["RESULTADO"].unique()

array(['Positivo', 'Negativo', 'Sospechoso'], dtype=object)

In [37]:
data.columns

Index(['FECHA_ACTUALIZACION', 'ID_REGISTRO', 'ORIGEN', 'SECTOR', 'ENTIDAD_UM',
       'SEXO', 'ENTIDAD_NAC', 'ENTIDAD_RES', 'MUNICIPIO_RES', 'TIPO_PACIENTE',
       'FECHA_INGRESO', 'FECHA_SINTOMAS', 'FECHA_DEF', 'INTUBADO', 'NEUMONIA',
       'EDAD', 'NACIONALIDAD', 'EMBARAZO', 'HABLA_LENGUA_INDIG', 'DIABETES',
       'EPOC', 'ASMA', 'INMUSUPR', 'HIPERTENSION', 'OTRA_COM',
       'CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA', 'TABAQUISMO',
       'OTRO_CASO', 'RESULTADO', 'MIGRANTE', 'PAIS_NACIONALIDAD',
       'PAIS_ORIGEN', 'UCI'],
      dtype='object')

In [38]:
df = data[["SEXO", "ENTIDAD_NAC", "FECHA_INGRESO", "FECHA_SINTOMAS",
           "FECHA_DEF", "INTUBADO", "NEUMONIA", "EMBARAZO","DIABETES", "EPOC", "ASMA", 
           "INMUSUPR", "HIPERTENSION", "CARDIOVASCULAR", "OBESIDAD", "RENAL_CRONICA",
           "RENAL_CRONICA", "TABAQUISMO", "RESULTADO", "EDAD"]]

In [39]:
df.head(20)

,SEXO,ENTIDAD_NAC,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,RENAL_CRONICA,TABAQUISMO,RESULTADO,EDAD
0,Masculino,7,2020-05-27,2020-05-25,9999-99-99,97,2,97,1,2,2,2,2,2,2,2,2,2,Positivo,53
1,Masculino,15,2020-06-04,2020-05-31,9999-99-99,2,1,97,2,2,2,2,2,2,2,2,2,2,Positivo,59
2,Masculino,9,2020-04-27,2020-04-20,9999-99-99,97,2,97,2,2,2,2,2,2,2,2,2,2,Positivo,34
3,Masculino,2,2020-04-30,2020-04-24,9999-99-99,97,2,97,2,2,2,2,2,2,2,2,2,2,Positivo,45
4,Masculino,15,2020-05-05,2020-04-23,9999-99-99,2,1,97,2,2,2,2,1,2,2,2,2,2,Positivo,53
5,1,15,2020-05-05,2020-05-05,9999-99-99,2,2,2,2,2,2,2,2,2,2,2,2,2,Positivo,64
6,1,2,2020-05-26,2020-05-22,9999-99-99,97,2,2,2,2,2,2,2,2,1,2,2,2,Positivo,29
7,1,9,2020-04-03,2020-04-03,9999-99-99,2,2,2,1,2,2,2,2,2,2,2,2,1,Positivo,41
8,Masculino,15,2020-04-14,2020-04-03,9999-99-99,2,2,97,2,2,2,2,2,2,2,2,2,2,Positivo,53
9,Masculino,12,2020-04-20,2020-04-17,9999-99-99,97,2,97,2,2,2,2,2,2,2,2,2,2,Positivo,26
10,Masculino,15,2020-04-14,2020-04-14,9999-99-99,2,2,97,2,2,2,2,2,2,2,2,2,2,Positivo,52
11,1,9,2020-04-15,2020-04-15,2020-05-06,2,1,2,1,2,2,2,2,2,2,2,2,2,Positivo,62
12,Masculino,25,2020-04-23,2020-04-15,9999-99-99,2,2,97,2,2,2,2,2,2,1,2,2,2,Positivo,43
13,Masculino,30,2020-04-27,2020-04-24,9999-99-99,97,2,97,2,2,2,2,2,2,1,2,2,1,Positivo,34
14,Masculino,27,2020-06-06,2020-06-01,9999-99-99,2,2,97,1,2,2,2,2,2,2,1,1,2,Positivo,56
15,Masculino,9,2020-04-04,2020-04-04,2020-04-13,2,2,97,1,2,2,2,1,2,2,2,2,2,Positivo,61
16,Masculino,30,2020-04-08,2020-04-08,2020-04-09,2,1,97,1,2,2,2,2,1,1,2,2,2,Positivo,72
17,Masculino,25,2020-04-20,2020-04-17,9999-99-99,97,2,97,2,2,2,2,2,2,2,2,2,2,Positivo,56
18,1,9,2020-04-26,2020-04-17,9999-99-99,97,2,2,1,2,2,2,2,2,2,2,2,2,Positivo,48
19,Masculino,12,2020-05-02,2020-04-24,9999-99-99,2,2,97,2,2,2,2,1,2,2,2,2,2,Positivo,45

In [40]:
df

,SEXO,ENTIDAD_NAC,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,RENAL_CRONICA,TABAQUISMO,RESULTADO,EDAD
0,Masculino,7,2020-05-27,2020-05-25,9999-99-99,97,2,97,1,2,2,2,2,2,2,2,2,2,Positivo,53
1,Masculino,15,2020-06-04,2020-05-31,9999-99-99,2,1,97,2,2,2,2,2,2,2,2,2,2,Positivo,59
2,Masculino,9,2020-04-27,2020-04-20,9999-99-99,97,2,97,2,2,2,2,2,2,2,2,2,2,Positivo,34
3,Masculino,2,2020-04-30,2020-04-24,9999-99-99,97,2,97,2,2,2,2,2,2,2,2,2,2,Positivo,45
4,Masculino,15,2020-05-05,2020-04-23,9999-99-99,2,1,97,2,2,2,2,1,2,2,2,2,2,Positivo,53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369357,Masculino,99,2020-06-01,2020-05-27,9999-99-99,97,2,97,2,2,2,2,2,2,2,2,2,2,Sospechoso,51
369358,Masculino,5,2020-04-20,2020-04-19,9999-99-99,2,2,97,1,2,2,2,2,2,2,2,2,1,Sospechoso,96
369359,1,9,2020-06-10,2020-06-09,9999-99-99,97,2,2,2,2,2,2,2,2,2,2,2,2,Sospechoso,46
369360,1,20,2020-06-10,2020-06-05,9999-99-99,97,2,2,2,2,2,2,2,2,1,2,2,2,Sospechoso,40
369361,Masculino,25,2020-06-10,2020-06-09,9999-99-99,97,2,97,2,2,2,2,2,2,2,2,2,2,Sospechoso,40

## Seleccionando Casos Psitivos

In [41]:
df_positivo = df[df["RESULTADO"] == "Positivo"]

In [43]:
df_positivo = df_positivo[["FECHA_INGRESO", "RESULTADO"]]

In [49]:
df_positivo.head()

        Fecha     Casos
0  2020-05-27  Positivo
1  2020-06-04  Positivo
2  2020-04-27  Positivo
3  2020-04-30  Positivo
4  2020-05-05  Positivo

In [46]:
df_positivo["FECHA_INGRESO"].value_counts()

2020-06-01    4455
2020-05-25    4130
2020-05-27    4044
2020-06-02    3884
2020-05-26    3846
              ...
2020-01-14       1
2020-03-07       1
2020-02-29       1
2020-03-09       1
2020-02-12       1
Name: FECHA_INGRESO, Length: 107, dtype: int64

In [47]:
df_positivo.columns = ['Fecha', 'Casos']

In [51]:
#Realizando la suma de los casos
casos = df_positivo["Fecha"].value_counts()
#Conviertiedo a DataFrame
df_positivos = pd.DataFrame(casos)
#Reseteando el index
df_positivos = df_positivos.reset_index()

In [55]:
#Renombrando columnas
df_positivos.columns = ['Fecha', 'Casos']

In [56]:
df_positivos

          Fecha  Casos
0    2020-06-01   4455
1    2020-05-25   4130
2    2020-05-27   4044
3    2020-06-02   3884
4    2020-05-26   3846
..          ...    ...
102  2020-01-14      1
103  2020-03-07      1
104  2020-02-29      1
105  2020-03-09      1
106  2020-02-12      1

[107 rows x 2 columns]

# Trabajando con el nuevo dataframe

### Checando valores faltante

In [57]:
df_positivos.head()

        Fecha  Casos
0  2020-06-01   4455
1  2020-05-25   4130
2  2020-05-27   4044
3  2020-06-02   3884
4  2020-05-26   3846

In [58]:
df_positivos.describe()

             Casos
count   107.000000
mean   1207.327103
std    1280.255869
min       1.000000
25%     103.500000
50%     840.000000
75%    1890.500000
max    4455.000000

In [59]:
df_positivos.isna()

     Fecha  Casos
0    False  False
1    False  False
2    False  False
3    False  False
4    False  False
..     ...    ...
102  False  False
103  False  False
104  False  False
105  False  False
106  False  False

[107 rows x 2 columns]

In [60]:
df_positivos.isna().sum()

Fecha    0
Casos    0
dtype: int64

### Conviertiendo la fecha a Datetime

In [61]:
df_positivos.head(2)

        Fecha  Casos
0  2020-06-01   4455
1  2020-05-25   4130

In [62]:
#Asuminedo que la fecha empiza desde el dia
df_positivos.Fecha = pd.to_datetime(df_positivos.Fecha, dayfirst=True)

In [63]:
df_positivos

         Fecha  Casos
0   2020-06-01   4455
1   2020-05-25   4130
2   2020-05-27   4044
3   2020-06-02   3884
4   2020-05-26   3846
..         ...    ...
102 2020-01-14      1
103 2020-03-07      1
104 2020-02-29      1
105 2020-03-09      1
106 2020-02-12      1

[107 rows x 2 columns]

In [65]:
df_positivos.Fecha.describe()

count                     107
unique                    107
top       2020-03-13 00:00:00
freq                        1
first     2020-01-13 00:00:00
last      2020-06-10 00:00:00
Name: Fecha, dtype: object

### Tomando Fecha como indice