# Importando las librerias

In [48]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# ETL

## Extracción de los datos


- Los dastos estan extraido de los datos abiertos de Covid-19 en México

In [59]:
data = pd.read_csv('../../datasets/datos_abiertos_covid19/200610COVID19MEXICO.csv')

In [60]:
data.head(5)

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,RESULTADO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,2020-06-10,0f69b4,2,3,15,2,7,15,106,1,...,2,2,2,2,1,1,99,México,99,97
1,2020-06-10,1c79cc,2,3,15,2,15,15,106,2,...,2,2,2,2,2,1,99,México,99,2
2,2020-06-10,140aab,2,4,9,2,9,9,7,1,...,2,2,2,2,99,1,99,México,99,97
3,2020-06-10,051c09,2,4,2,2,2,2,4,1,...,2,2,2,2,99,1,99,México,99,97
4,2020-06-10,1c8c37,2,4,9,2,15,15,58,2,...,2,2,2,2,99,1,99,México,99,2

# Transformación de los datos

In [61]:
data.columns

Index(['FECHA_ACTUALIZACION', 'ID_REGISTRO', 'ORIGEN', 'SECTOR', 'ENTIDAD_UM',
       'SEXO', 'ENTIDAD_NAC', 'ENTIDAD_RES', 'MUNICIPIO_RES', 'TIPO_PACIENTE',
       'FECHA_INGRESO', 'FECHA_SINTOMAS', 'FECHA_DEF', 'INTUBADO', 'NEUMONIA',
       'EDAD', 'NACIONALIDAD', 'EMBARAZO', 'HABLA_LENGUA_INDIG', 'DIABETES',
       'EPOC', 'ASMA', 'INMUSUPR', 'HIPERTENSION', 'OTRA_COM',
       'CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA', 'TABAQUISMO',
       'OTRO_CASO', 'RESULTADO', 'MIGRANTE', 'PAIS_NACIONALIDAD',
       'PAIS_ORIGEN', 'UCI'],
      dtype='object')

In [62]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369362 entries, 0 to 369361
Data columns (total 35 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   FECHA_ACTUALIZACION  369362 non-null  object
 1   ID_REGISTRO          369361 non-null  object
 2   ORIGEN               369362 non-null  int64
 3   SECTOR               369362 non-null  int64
 4   ENTIDAD_UM           369362 non-null  int64
 5   SEXO                 369362 non-null  int64
 6   ENTIDAD_NAC          369362 non-null  int64
 7   ENTIDAD_RES          369362 non-null  int64
 8   MUNICIPIO_RES        369362 non-null  int64
 9   TIPO_PACIENTE        369362 non-null  int64
 10  FECHA_INGRESO        369362 non-null  object
 11  FECHA_SINTOMAS       369362 non-null  object
 12  FECHA_DEF            369362 non-null  object
 13  INTUBADO             369362 non-null  int64
 14  NEUMONIA             369362 non-null  int64
 15  EDAD                 369362 non-null  int64
 16  NACIONALIDAD         369362 non-null  int64
 17  EMBARAZO             369362 non-null  int64
 18  HABLA_LENGUA_INDIG   369362 non-null  int64
 19  DIABETES             369362 non-null  int64
 20  EPOC                 369362 non-null  int64
 21  ASMA                 369362 non-null  int64
 22  INMUSUPR             369362 non-null  int64
 23  HIPERTENSION         369362 non-null  int64
 24  OTRA_COM             369362 non-null  int64
 25  CARDIOVASCULAR       369362 non-null  int64
 26  OBESIDAD             369362 non-null  int64
 27  RENAL_CRONICA        369362 non-null  int64
 28  TABAQUISMO           369362 non-null  int64
 29  OTRO_CASO            369362 non-null  int64
 30  RESULTADO            369362 non-null  int64
 31  MIGRANTE             369362 non-null  int64
 32  PAIS_NACIONALIDAD    369362 non-null  object
 33  PAIS_ORIGEN          369362 non-null  object
 34  UCI                  369362 non-null  int64
dtypes: int64(28), object(7)
memory usage: 98.6+ MB

In [63]:
data.FECHA_INGRESO = pd.to_datetime(data.FECHA_INGRESO)
data.FECHA_SINTOMAS = pd.to_datetime(data.FECHA_SINTOMAS)

In [64]:

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369362 entries, 0 to 369361
Data columns (total 35 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   FECHA_ACTUALIZACION  369362 non-null  object
 1   ID_REGISTRO          369361 non-null  object
 2   ORIGEN               369362 non-null  int64
 3   SECTOR               369362 non-null  int64
 4   ENTIDAD_UM           369362 non-null  int64
 5   SEXO                 369362 non-null  int64
 6   ENTIDAD_NAC          369362 non-null  int64
 7   ENTIDAD_RES          369362 non-null  int64
 8   MUNICIPIO_RES        369362 non-null  int64
 9   TIPO_PACIENTE        369362 non-null  int64
 10  FECHA_INGRESO        369362 non-null  datetime64[ns]
 11  FECHA_SINTOMAS       369362 non-null  datetime64[ns]
 12  FECHA_DEF            369362 non-null  object
 13  INTUBADO             369362 non-null  int64
 14  NEUMONIA             369362 non-null  int64
 15  EDAD                 369362 non-null  int64
 16  NACIONALIDAD         369362 non-null  int64
 17  EMBARAZO             369362 non-null  int64
 18  HABLA_LENGUA_INDIG   369362 non-null  int64
 19  DIABETES             369362 non-null  int64
 20  EPOC                 369362 non-null  int64
 21  ASMA                 369362 non-null  int64
 22  INMUSUPR             369362 non-null  int64
 23  HIPERTENSION         369362 non-null  int64
 24  OTRA_COM             369362 non-null  int64
 25  CARDIOVASCULAR       369362 non-null  int64
 26  OBESIDAD             369362 non-null  int64
 27  RENAL_CRONICA        369362 non-null  int64
 28  TABAQUISMO           369362 non-null  int64
 29  OTRO_CASO            369362 non-null  int64
 30  RESULTADO            369362 non-null  int64
 31  MIGRANTE             369362 non-null  int64
 32  PAIS_NACIONALIDAD    369362 non-null  object
 33  PAIS_ORIGEN          369362 non-null  object
 34  UCI                  369362 non-null  int64
dtypes: datetime64[ns](2), int64(28), object(5)
memory usage: 98.6+ MB

## Variables

- Transformación de algunas variables

In [65]:
# Numero de semana
data['Num_Semana_Ingreso'] = data.FECHA_INGRESO.dt.week

# Mes
data['Mes_Ingreso'] = data.FECHA_INGRESO.dt.month

# Dia
data['Dia_Ingreso'] = data.FECHA_INGRESO.dt.day

# Nombre dia
data['DiaNombre_Ingreso'] = data.FECHA_INGRESO.dt.day_name()

# Obervacion de las nuevas variables creadas.
data[['DiaNombre_Ingreso', 'Dia_Ingreso', 'Mes_Ingreso', 'Num_Semana_Ingreso']]

<ipython-input-65-70908bd323bd>:2: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  data['Num_Semana_Ingreso'] = data.FECHA_INGRESO.dt.week

       DiaNombre_Ingreso  Dia_Ingreso  Mes_Ingreso  Num_Semana_Ingreso
0              Wednesday           27            5                  22
1               Thursday            4            6                  23
2                 Monday           27            4                  18
3               Thursday           30            4                  18
4                Tuesday            5            5                  19
...                  ...          ...          ...                 ...
369357            Monday            1            6                  23
369358            Monday           20            4                  17
369359         Wednesday           10            6                  24
369360         Wednesday           10            6                  24
369361         Wednesday           10            6                  24

[369362 rows x 4 columns]

In [66]:
data.head(5)

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,OTRO_CASO,RESULTADO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI,Num_Semana_Ingreso,Mes_Ingreso,Dia_Ingreso,DiaNombre_Ingreso
0,2020-06-10,0f69b4,2,3,15,2,7,15,106,1,...,1,1,99,México,99,97,22,5,27,Wednesday
1,2020-06-10,1c79cc,2,3,15,2,15,15,106,2,...,2,1,99,México,99,2,23,6,4,Thursday
2,2020-06-10,140aab,2,4,9,2,9,9,7,1,...,99,1,99,México,99,97,18,4,27,Monday
3,2020-06-10,051c09,2,4,2,2,2,2,4,1,...,99,1,99,México,99,97,18,4,30,Thursday
4,2020-06-10,1c8c37,2,4,9,2,15,15,58,2,...,99,1,99,México,99,2,19,5,5,Tuesday

In [67]:
# Eliminacion algunas variables
def delvar(df, var):
    del df[var]
    return df

In [68]:
delvar(data,'FECHA_ACTUALIZACION')
delvar(data, 'ID_REGISTRO')
delvar(data, 'ORIGEN')
delvar(data, 'SECTOR')
delvar(data, 'ENTIDAD_UM')
delvar(data, 'ENTIDAD_NAC')
delvar(data, 'ENTIDAD_RES')
delvar(data, 'MUNICIPIO_RES')

,SEXO,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,...,OTRO_CASO,RESULTADO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI,Num_Semana_Ingreso,Mes_Ingreso,Dia_Ingreso,DiaNombre_Ingreso
0,2,1,2020-05-27,2020-05-25,9999-99-99,97,2,53,1,97,...,1,1,99,México,99,97,22,5,27,Wednesday
1,2,2,2020-06-04,2020-05-31,9999-99-99,2,1,59,1,97,...,2,1,99,México,99,2,23,6,4,Thursday
2,2,1,2020-04-27,2020-04-20,9999-99-99,97,2,34,1,97,...,99,1,99,México,99,97,18,4,27,Monday
3,2,1,2020-04-30,2020-04-24,9999-99-99,97,2,45,1,97,...,99,1,99,México,99,97,18,4,30,Thursday
4,2,2,2020-05-05,2020-04-23,9999-99-99,2,1,53,1,97,...,99,1,99,México,99,2,19,5,5,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369357,2,1,2020-06-01,2020-05-27,9999-99-99,97,2,51,2,97,...,1,3,2,Bolivia,99,97,23,6,1,Monday
369358,2,2,2020-04-20,2020-04-19,9999-99-99,2,2,96,1,97,...,99,3,99,México,99,2,17,4,20,Monday
369359,1,1,2020-06-10,2020-06-09,9999-99-99,97,2,46,1,2,...,1,3,99,México,99,97,24,6,10,Wednesday
369360,1,1,2020-06-10,2020-06-05,9999-99-99,97,2,40,1,2,...,1,3,99,México,99,97,24,6,10,Wednesday
369361,2,1,2020-06-10,2020-06-09,9999-99-99,97,2,40,1,97,...,99,3,99,México,99,97,24,6,10,Wednesday

In [74]:
# Suposicion 1-Mujer
# 2- Hombre
#data[['SEXO', 'EMBARAZO']][:30]

man = [ w for w in data.SEXO if w==2]
woman = [ w for w in data.SEXO if w==1]

In [75]:
woman

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 ...]